# Diretório de build Maven – já copiado pelo stage de build
target/

# Arquivos de IDE e controle de versão
.git/
.gitignore
.idea/
*.iml
.vscode/

# Resultados e relatórios de teste gerados
allure-results/
allure-reports/

# Documentação
*.md
