--
-- PostgreSQL database dump
--

\restrict JSEhIRi9XD9V5MR1F2FdJp1dhe0X3UcMokerMQZKJg4dGTCNSJonPBjrU2bPtoW

-- Dumped from database version 16.13 (Debian 16.13-1.pgdg13+1)
-- Dumped by pg_dump version 16.13 (Debian 16.13-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: asset_assignment_history; Type: TABLE; Schema: public; Owner: asset_user
--

CREATE TABLE public.asset_assignment_history (
    asset_id bigint NOT NULL,
    changed_at timestamp(6) with time zone NOT NULL,
    changed_by_user_id bigint NOT NULL,
    from_user_id bigint,
    id bigint NOT NULL,
    to_user_id bigint
);


ALTER TABLE public.asset_assignment_history OWNER TO asset_user;

--
-- Name: asset_assignment_history_id_seq; Type: SEQUENCE; Schema: public; Owner: asset_user
--

CREATE SEQUENCE public.asset_assignment_history_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.asset_assignment_history_id_seq OWNER TO asset_user;

--
-- Name: asset_assignment_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: asset_user
--

ALTER SEQUENCE public.asset_assignment_history_id_seq OWNED BY public.asset_assignment_history.id;


--
-- Name: asset_categories; Type: TABLE; Schema: public; Owner: asset_user
--

CREATE TABLE public.asset_categories (
    active boolean NOT NULL,
    id bigint NOT NULL,
    version bigint,
    name character varying(100) NOT NULL,
    description character varying(255)
);


ALTER TABLE public.asset_categories OWNER TO asset_user;

--
-- Name: asset_categories_id_seq; Type: SEQUENCE; Schema: public; Owner: asset_user
--

CREATE SEQUENCE public.asset_categories_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.asset_categories_id_seq OWNER TO asset_user;

--
-- Name: asset_categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: asset_user
--

ALTER SEQUENCE public.asset_categories_id_seq OWNED BY public.asset_categories.id;


--
-- Name: asset_insurance; Type: TABLE; Schema: public; Owner: asset_user
--

CREATE TABLE public.asset_insurance (
    active boolean NOT NULL,
    coverage_value numeric(15,2) NOT NULL,
    expiry_date date NOT NULL,
    premium numeric(15,2),
    start_date date NOT NULL,
    asset_id bigint NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    id bigint NOT NULL,
    organization_id bigint NOT NULL,
    policy_number character varying(100) NOT NULL,
    insurer character varying(255) NOT NULL
);


ALTER TABLE public.asset_insurance OWNER TO asset_user;

--
-- Name: asset_insurance_id_seq; Type: SEQUENCE; Schema: public; Owner: asset_user
--

CREATE SEQUENCE public.asset_insurance_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.asset_insurance_id_seq OWNER TO asset_user;

--
-- Name: asset_insurance_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: asset_user
--

ALTER SEQUENCE public.asset_insurance_id_seq OWNED BY public.asset_insurance.id;


--
-- Name: asset_status_history; Type: TABLE; Schema: public; Owner: asset_user
--

CREATE TABLE public.asset_status_history (
    asset_id bigint NOT NULL,
    changed_at timestamp(6) with time zone NOT NULL,
    changed_by_user_id bigint NOT NULL,
    id bigint NOT NULL,
    new_status character varying(255) NOT NULL,
    previous_status character varying(255) NOT NULL,
    CONSTRAINT asset_status_history_new_status_check CHECK (((new_status)::text = ANY ((ARRAY['AVAILABLE'::character varying, 'ASSIGNED'::character varying, 'IN_TRANSFER'::character varying, 'IN_MAINTENANCE'::character varying, 'UNAVAILABLE'::character varying, 'RETIRED'::character varying])::text[]))),
    CONSTRAINT asset_status_history_previous_status_check CHECK (((previous_status)::text = ANY ((ARRAY['AVAILABLE'::character varying, 'ASSIGNED'::character varying, 'IN_TRANSFER'::character varying, 'IN_MAINTENANCE'::character varying, 'UNAVAILABLE'::character varying, 'RETIRED'::character varying])::text[])))
);


ALTER TABLE public.asset_status_history OWNER TO asset_user;

--
-- Name: asset_status_history_id_seq; Type: SEQUENCE; Schema: public; Owner: asset_user
--

CREATE SEQUENCE public.asset_status_history_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.asset_status_history_id_seq OWNER TO asset_user;

--
-- Name: asset_status_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: asset_user
--

ALTER SEQUENCE public.asset_status_history_id_seq OWNED BY public.asset_status_history.id;


--
-- Name: assets; Type: TABLE; Schema: public; Owner: asset_user
--

CREATE TABLE public.assets (
    invoice_date date,
    purchase_date date,
    purchase_value numeric(15,2),
    residual_value numeric(15,2),
    useful_life_months integer,
    warranty_expiry date,
    cost_center_id bigint,
    id bigint NOT NULL,
    organization_id bigint NOT NULL,
    unit_id bigint NOT NULL,
    user_id bigint,
    version bigint NOT NULL,
    depreciation_method character varying(30),
    invoice_number character varying(100),
    asset_tag character varying(255) NOT NULL,
    model character varying(255) NOT NULL,
    status character varying(255) NOT NULL,
    supplier character varying(255),
    type character varying(255) NOT NULL,
    CONSTRAINT assets_depreciation_method_check CHECK (((depreciation_method)::text = ANY ((ARRAY['LINEAR'::character varying, 'DECLINING_BALANCE'::character varying, 'SUM_OF_YEARS'::character varying])::text[]))),
    CONSTRAINT assets_status_check CHECK (((status)::text = ANY ((ARRAY['AVAILABLE'::character varying, 'ASSIGNED'::character varying, 'IN_TRANSFER'::character varying, 'IN_MAINTENANCE'::character varying, 'UNAVAILABLE'::character varying, 'RETIRED'::character varying])::text[]))),
    CONSTRAINT assets_type_check CHECK (((type)::text = ANY ((ARRAY['MOBILE_PHONE'::character varying, 'NOTEBOOK'::character varying, 'TABLET'::character varying, 'DESKTOP'::character varying, 'VEHICLE'::character varying, 'OTHER'::character varying])::text[])))
);


ALTER TABLE public.assets OWNER TO asset_user;

--
-- Name: assets_id_seq; Type: SEQUENCE; Schema: public; Owner: asset_user
--

CREATE SEQUENCE public.assets_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.assets_id_seq OWNER TO asset_user;

--
-- Name: assets_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: asset_user
--

ALTER SEQUENCE public.assets_id_seq OWNED BY public.assets.id;


--
-- Name: audit_events; Type: TABLE; Schema: public; Owner: asset_user
--

CREATE TABLE public.audit_events (
    actor_user_id bigint,
    created_at timestamp(6) with time zone NOT NULL,
    id bigint NOT NULL,
    organization_id bigint NOT NULL,
    target_id bigint,
    unit_id bigint,
    target_type character varying(100),
    details text,
    type character varying(255) NOT NULL,
    CONSTRAINT audit_events_type_check CHECK (((type)::text = ANY ((ARRAY['ORGANIZATION_CREATED'::character varying, 'ORGANIZATION_STATUS_CHANGED'::character varying, 'ORGANIZATION_UPDATED'::character varying, 'ORGANIZATION_ACTIVATED'::character varying, 'ORGANIZATION_INACTIVATED'::character varying, 'UNIT_CREATED'::character varying, 'UNIT_STATUS_CHANGED'::character varying, 'UNIT_UPDATED'::character varying, 'UNIT_ACTIVATED'::character varying, 'UNIT_INACTIVATED'::character varying, 'USER_CREATED'::character varying, 'USER_STATUS_CHANGED'::character varying, 'USER_LGPD_ACCEPTED'::character varying, 'USER_UPDATED'::character varying, 'USER_ACTIVATED'::character varying, 'USER_INACTIVATED'::character varying, 'ASSET_CREATED'::character varying, 'ASSET_ASSIGNED'::character varying, 'ASSET_UNASSIGNED'::character varying, 'ASSET_TRANSFERRED'::character varying, 'ASSET_STATUS_CHANGED'::character varying, 'ASSET_RETIRED'::character varying, 'ASSET_UPDATED'::character varying])::text[])))
);


ALTER TABLE public.audit_events OWNER TO asset_user;

--
-- Name: audit_events_id_seq; Type: SEQUENCE; Schema: public; Owner: asset_user
--

CREATE SEQUENCE public.audit_events_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.audit_events_id_seq OWNER TO asset_user;

--
-- Name: audit_events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: asset_user
--

ALTER SEQUENCE public.audit_events_id_seq OWNED BY public.audit_events.id;


--
-- Name: cost_centers; Type: TABLE; Schema: public; Owner: asset_user
--

CREATE TABLE public.cost_centers (
    active boolean NOT NULL,
    id bigint NOT NULL,
    organization_id bigint NOT NULL,
    unit_id bigint,
    code character varying(50) NOT NULL,
    name character varying(255) NOT NULL
);


ALTER TABLE public.cost_centers OWNER TO asset_user;

--
-- Name: cost_centers_id_seq; Type: SEQUENCE; Schema: public; Owner: asset_user
--

CREATE SEQUENCE public.cost_centers_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cost_centers_id_seq OWNER TO asset_user;

--
-- Name: cost_centers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: asset_user
--

ALTER SEQUENCE public.cost_centers_id_seq OWNED BY public.cost_centers.id;


--
-- Name: inventory_items; Type: TABLE; Schema: public; Owner: asset_user
--

CREATE TABLE public.inventory_items (
    present boolean NOT NULL,
    asset_id bigint NOT NULL,
    id bigint NOT NULL,
    session_id bigint NOT NULL
);


ALTER TABLE public.inventory_items OWNER TO asset_user;

--
-- Name: inventory_items_id_seq; Type: SEQUENCE; Schema: public; Owner: asset_user
--

CREATE SEQUENCE public.inventory_items_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.inventory_items_id_seq OWNER TO asset_user;

--
-- Name: inventory_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: asset_user
--

ALTER SEQUENCE public.inventory_items_id_seq OWNED BY public.inventory_items.id;


--
-- Name: inventory_sessions; Type: TABLE; Schema: public; Owner: asset_user
--

CREATE TABLE public.inventory_sessions (
    closed_at timestamp(6) with time zone,
    created_at timestamp(6) with time zone NOT NULL,
    created_by bigint NOT NULL,
    id bigint NOT NULL,
    organization_id bigint NOT NULL,
    unit_id bigint NOT NULL,
    version bigint NOT NULL,
    status character varying(255) NOT NULL,
    CONSTRAINT inventory_sessions_status_check CHECK (((status)::text = ANY ((ARRAY['OPEN'::character varying, 'IN_PROGRESS'::character varying, 'CLOSED'::character varying, 'CANCELLED'::character varying])::text[])))
);


ALTER TABLE public.inventory_sessions OWNER TO asset_user;

--
-- Name: inventory_sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: asset_user
--

CREATE SEQUENCE public.inventory_sessions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.inventory_sessions_id_seq OWNER TO asset_user;

--
-- Name: inventory_sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: asset_user
--

ALTER SEQUENCE public.inventory_sessions_id_seq OWNED BY public.inventory_sessions.id;


--
-- Name: maintenance_records; Type: TABLE; Schema: public; Owner: asset_user
--

CREATE TABLE public.maintenance_records (
    actual_cost numeric(15,2),
    estimated_cost numeric(15,2),
    asset_id bigint NOT NULL,
    completed_at timestamp(6) with time zone,
    completed_by_user_id bigint,
    cost_center_id bigint,
    created_at timestamp(6) with time zone NOT NULL,
    id bigint NOT NULL,
    organization_id bigint NOT NULL,
    requested_by_user_id bigint NOT NULL,
    started_at timestamp(6) with time zone,
    started_by_user_id bigint,
    unit_id bigint NOT NULL,
    version bigint NOT NULL,
    description text NOT NULL,
    resolution text,
    status character varying(255) NOT NULL,
    CONSTRAINT maintenance_records_status_check CHECK (((status)::text = ANY ((ARRAY['REQUESTED'::character varying, 'IN_PROGRESS'::character varying, 'COMPLETED'::character varying, 'CANCELLED'::character varying])::text[])))
);


ALTER TABLE public.maintenance_records OWNER TO asset_user;

--
-- Name: maintenance_records_id_seq; Type: SEQUENCE; Schema: public; Owner: asset_user
--

CREATE SEQUENCE public.maintenance_records_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.maintenance_records_id_seq OWNER TO asset_user;

--
-- Name: maintenance_records_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: asset_user
--

ALTER SEQUENCE public.maintenance_records_id_seq OWNED BY public.maintenance_records.id;


--
-- Name: mfa_codes; Type: TABLE; Schema: public; Owner: asset_user
--

CREATE TABLE public.mfa_codes (
    used boolean NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    expires_at timestamp(6) with time zone NOT NULL,
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    code character varying(10) NOT NULL
);


ALTER TABLE public.mfa_codes OWNER TO asset_user;

--
-- Name: mfa_codes_id_seq; Type: SEQUENCE; Schema: public; Owner: asset_user
--

CREATE SEQUENCE public.mfa_codes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.mfa_codes_id_seq OWNER TO asset_user;

--
-- Name: mfa_codes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: asset_user
--

ALTER SEQUENCE public.mfa_codes_id_seq OWNED BY public.mfa_codes.id;


--
-- Name: organizations; Type: TABLE; Schema: public; Owner: asset_user
--

CREATE TABLE public.organizations (
    id bigint NOT NULL,
    status character varying(20) NOT NULL,
    name character varying(255) NOT NULL,
    CONSTRAINT organizations_status_check CHECK (((status)::text = ANY ((ARRAY['ACTIVE'::character varying, 'INACTIVE'::character varying])::text[])))
);


ALTER TABLE public.organizations OWNER TO asset_user;

--
-- Name: organizations_id_seq; Type: SEQUENCE; Schema: public; Owner: asset_user
--

CREATE SEQUENCE public.organizations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.organizations_id_seq OWNER TO asset_user;

--
-- Name: organizations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: asset_user
--

ALTER SEQUENCE public.organizations_id_seq OWNED BY public.organizations.id;


--
-- Name: refresh_tokens; Type: TABLE; Schema: public; Owner: asset_user
--

CREATE TABLE public.refresh_tokens (
    revoked boolean NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    expires_at timestamp(6) with time zone NOT NULL,
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    token character varying(255) NOT NULL
);


ALTER TABLE public.refresh_tokens OWNER TO asset_user;

--
-- Name: refresh_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: asset_user
--

CREATE SEQUENCE public.refresh_tokens_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.refresh_tokens_id_seq OWNER TO asset_user;

--
-- Name: refresh_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: asset_user
--

ALTER SEQUENCE public.refresh_tokens_id_seq OWNED BY public.refresh_tokens.id;


--
-- Name: transfer_requests; Type: TABLE; Schema: public; Owner: asset_user
--

CREATE TABLE public.transfer_requests (
    approved_at timestamp(6) with time zone,
    approved_by bigint,
    asset_id bigint NOT NULL,
    completed_at timestamp(6) with time zone,
    from_unit_id bigint NOT NULL,
    id bigint NOT NULL,
    requested_at timestamp(6) with time zone NOT NULL,
    requested_by bigint NOT NULL,
    to_unit_id bigint NOT NULL,
    version bigint NOT NULL,
    status character varying(30) NOT NULL,
    reason character varying(500) NOT NULL,
    CONSTRAINT transfer_requests_status_check CHECK (((status)::text = ANY ((ARRAY['PENDING'::character varying, 'APPROVED'::character varying, 'REJECTED'::character varying, 'COMPLETED'::character varying, 'CANCELLED'::character varying])::text[])))
);


ALTER TABLE public.transfer_requests OWNER TO asset_user;

--
-- Name: transfer_requests_id_seq; Type: SEQUENCE; Schema: public; Owner: asset_user
--

CREATE SEQUENCE public.transfer_requests_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.transfer_requests_id_seq OWNER TO asset_user;

--
-- Name: transfer_requests_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: asset_user
--

ALTER SEQUENCE public.transfer_requests_id_seq OWNED BY public.transfer_requests.id;


--
-- Name: units; Type: TABLE; Schema: public; Owner: asset_user
--

CREATE TABLE public.units (
    is_main boolean NOT NULL,
    id bigint NOT NULL,
    organization_id bigint NOT NULL,
    status character varying(20) NOT NULL,
    name character varying(255) NOT NULL,
    CONSTRAINT units_status_check CHECK (((status)::text = ANY ((ARRAY['ACTIVE'::character varying, 'INACTIVE'::character varying])::text[])))
);


ALTER TABLE public.units OWNER TO asset_user;

--
-- Name: units_id_seq; Type: SEQUENCE; Schema: public; Owner: asset_user
--

CREATE SEQUENCE public.units_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.units_id_seq OWNER TO asset_user;

--
-- Name: units_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: asset_user
--

ALTER SEQUENCE public.units_id_seq OWNED BY public.units.id;


--
-- Name: user_activation_tokens; Type: TABLE; Schema: public; Owner: asset_user
--

CREATE TABLE public.user_activation_tokens (
    used boolean NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    expires_at timestamp(6) with time zone NOT NULL,
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    token character varying(100) NOT NULL
);


ALTER TABLE public.user_activation_tokens OWNER TO asset_user;

--
-- Name: user_activation_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: asset_user
--

CREATE SEQUENCE public.user_activation_tokens_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_activation_tokens_id_seq OWNER TO asset_user;

--
-- Name: user_activation_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: asset_user
--

ALTER SEQUENCE public.user_activation_tokens_id_seq OWNED BY public.user_activation_tokens.id;


--
-- Name: user_consents; Type: TABLE; Schema: public; Owner: asset_user
--

CREATE TABLE public.user_consents (
    lgpd_accepted boolean NOT NULL,
    accepted_at timestamp(6) with time zone NOT NULL,
    id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.user_consents OWNER TO asset_user;

--
-- Name: user_consents_id_seq; Type: SEQUENCE; Schema: public; Owner: asset_user
--

CREATE SEQUENCE public.user_consents_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_consents_id_seq OWNER TO asset_user;

--
-- Name: user_consents_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: asset_user
--

ALTER SEQUENCE public.user_consents_id_seq OWNED BY public.user_consents.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: asset_user
--

CREATE TABLE public.users (
    lgpd_accepted boolean NOT NULL,
    id bigint NOT NULL,
    organization_id bigint NOT NULL,
    unit_id bigint NOT NULL,
    version bigint NOT NULL,
    phone_number character varying(20),
    document_number character varying(50) NOT NULL,
    role character varying(50) NOT NULL,
    status character varying(50) NOT NULL,
    email character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    password_hash character varying(255),
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['ADMIN'::character varying, 'GESTOR'::character varying, 'OPERADOR'::character varying])::text[]))),
    CONSTRAINT users_status_check CHECK (((status)::text = ANY ((ARRAY['PENDING_ACTIVATION'::character varying, 'ACTIVE'::character varying, 'BLOCKED'::character varying, 'INACTIVE'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO asset_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: asset_user
--

CREATE SEQUENCE public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO asset_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: asset_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: asset_assignment_history id; Type: DEFAULT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.asset_assignment_history ALTER COLUMN id SET DEFAULT nextval('public.asset_assignment_history_id_seq'::regclass);


--
-- Name: asset_categories id; Type: DEFAULT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.asset_categories ALTER COLUMN id SET DEFAULT nextval('public.asset_categories_id_seq'::regclass);


--
-- Name: asset_insurance id; Type: DEFAULT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.asset_insurance ALTER COLUMN id SET DEFAULT nextval('public.asset_insurance_id_seq'::regclass);


--
-- Name: asset_status_history id; Type: DEFAULT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.asset_status_history ALTER COLUMN id SET DEFAULT nextval('public.asset_status_history_id_seq'::regclass);


--
-- Name: assets id; Type: DEFAULT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.assets ALTER COLUMN id SET DEFAULT nextval('public.assets_id_seq'::regclass);


--
-- Name: audit_events id; Type: DEFAULT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.audit_events ALTER COLUMN id SET DEFAULT nextval('public.audit_events_id_seq'::regclass);


--
-- Name: cost_centers id; Type: DEFAULT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.cost_centers ALTER COLUMN id SET DEFAULT nextval('public.cost_centers_id_seq'::regclass);


--
-- Name: inventory_items id; Type: DEFAULT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.inventory_items ALTER COLUMN id SET DEFAULT nextval('public.inventory_items_id_seq'::regclass);


--
-- Name: inventory_sessions id; Type: DEFAULT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.inventory_sessions ALTER COLUMN id SET DEFAULT nextval('public.inventory_sessions_id_seq'::regclass);


--
-- Name: maintenance_records id; Type: DEFAULT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.maintenance_records ALTER COLUMN id SET DEFAULT nextval('public.maintenance_records_id_seq'::regclass);


--
-- Name: mfa_codes id; Type: DEFAULT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.mfa_codes ALTER COLUMN id SET DEFAULT nextval('public.mfa_codes_id_seq'::regclass);


--
-- Name: organizations id; Type: DEFAULT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.organizations ALTER COLUMN id SET DEFAULT nextval('public.organizations_id_seq'::regclass);


--
-- Name: refresh_tokens id; Type: DEFAULT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.refresh_tokens ALTER COLUMN id SET DEFAULT nextval('public.refresh_tokens_id_seq'::regclass);


--
-- Name: transfer_requests id; Type: DEFAULT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.transfer_requests ALTER COLUMN id SET DEFAULT nextval('public.transfer_requests_id_seq'::regclass);


--
-- Name: units id; Type: DEFAULT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.units ALTER COLUMN id SET DEFAULT nextval('public.units_id_seq'::regclass);


--
-- Name: user_activation_tokens id; Type: DEFAULT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.user_activation_tokens ALTER COLUMN id SET DEFAULT nextval('public.user_activation_tokens_id_seq'::regclass);


--
-- Name: user_consents id; Type: DEFAULT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.user_consents ALTER COLUMN id SET DEFAULT nextval('public.user_consents_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: asset_assignment_history asset_assignment_history_pkey; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.asset_assignment_history
    ADD CONSTRAINT asset_assignment_history_pkey PRIMARY KEY (id);


--
-- Name: asset_categories asset_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.asset_categories
    ADD CONSTRAINT asset_categories_pkey PRIMARY KEY (id);


--
-- Name: asset_insurance asset_insurance_pkey; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.asset_insurance
    ADD CONSTRAINT asset_insurance_pkey PRIMARY KEY (id);


--
-- Name: asset_status_history asset_status_history_pkey; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.asset_status_history
    ADD CONSTRAINT asset_status_history_pkey PRIMARY KEY (id);


--
-- Name: assets assets_asset_tag_key; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.assets
    ADD CONSTRAINT assets_asset_tag_key UNIQUE (asset_tag);


--
-- Name: assets assets_pkey; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.assets
    ADD CONSTRAINT assets_pkey PRIMARY KEY (id);


--
-- Name: audit_events audit_events_pkey; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.audit_events
    ADD CONSTRAINT audit_events_pkey PRIMARY KEY (id);


--
-- Name: cost_centers cost_centers_organization_id_code_key; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.cost_centers
    ADD CONSTRAINT cost_centers_organization_id_code_key UNIQUE (organization_id, code);


--
-- Name: cost_centers cost_centers_pkey; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.cost_centers
    ADD CONSTRAINT cost_centers_pkey PRIMARY KEY (id);


--
-- Name: inventory_items inventory_items_pkey; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.inventory_items
    ADD CONSTRAINT inventory_items_pkey PRIMARY KEY (id);


--
-- Name: inventory_sessions inventory_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.inventory_sessions
    ADD CONSTRAINT inventory_sessions_pkey PRIMARY KEY (id);


--
-- Name: maintenance_records maintenance_records_pkey; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.maintenance_records
    ADD CONSTRAINT maintenance_records_pkey PRIMARY KEY (id);


--
-- Name: mfa_codes mfa_codes_pkey; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.mfa_codes
    ADD CONSTRAINT mfa_codes_pkey PRIMARY KEY (id);


--
-- Name: organizations organizations_name_key; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT organizations_name_key UNIQUE (name);


--
-- Name: organizations organizations_pkey; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT organizations_pkey PRIMARY KEY (id);


--
-- Name: refresh_tokens refresh_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_pkey PRIMARY KEY (id);


--
-- Name: refresh_tokens refresh_tokens_token_key; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_token_key UNIQUE (token);


--
-- Name: transfer_requests transfer_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.transfer_requests
    ADD CONSTRAINT transfer_requests_pkey PRIMARY KEY (id);


--
-- Name: asset_categories uk_category_name; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.asset_categories
    ADD CONSTRAINT uk_category_name UNIQUE (name);


--
-- Name: inventory_items uk_inventory_session_asset; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.inventory_items
    ADD CONSTRAINT uk_inventory_session_asset UNIQUE (session_id, asset_id);


--
-- Name: units units_pkey; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.units
    ADD CONSTRAINT units_pkey PRIMARY KEY (id);


--
-- Name: user_activation_tokens user_activation_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.user_activation_tokens
    ADD CONSTRAINT user_activation_tokens_pkey PRIMARY KEY (id);


--
-- Name: user_activation_tokens user_activation_tokens_token_key; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.user_activation_tokens
    ADD CONSTRAINT user_activation_tokens_token_key UNIQUE (token);


--
-- Name: user_consents user_consents_pkey; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.user_consents
    ADD CONSTRAINT user_consents_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_audit_actor; Type: INDEX; Schema: public; Owner: asset_user
--

CREATE INDEX idx_audit_actor ON public.audit_events USING btree (actor_user_id);


--
-- Name: idx_audit_created_at; Type: INDEX; Schema: public; Owner: asset_user
--

CREATE INDEX idx_audit_created_at ON public.audit_events USING btree (created_at);


--
-- Name: idx_audit_org; Type: INDEX; Schema: public; Owner: asset_user
--

CREATE INDEX idx_audit_org ON public.audit_events USING btree (organization_id);


--
-- Name: idx_audit_target; Type: INDEX; Schema: public; Owner: asset_user
--

CREATE INDEX idx_audit_target ON public.audit_events USING btree (target_id);


--
-- Name: idx_audit_type; Type: INDEX; Schema: public; Owner: asset_user
--

CREATE INDEX idx_audit_type ON public.audit_events USING btree (type);


--
-- Name: idx_ins_asset; Type: INDEX; Schema: public; Owner: asset_user
--

CREATE INDEX idx_ins_asset ON public.asset_insurance USING btree (asset_id);


--
-- Name: idx_ins_expiry; Type: INDEX; Schema: public; Owner: asset_user
--

CREATE INDEX idx_ins_expiry ON public.asset_insurance USING btree (expiry_date);


--
-- Name: idx_inventory_item_asset; Type: INDEX; Schema: public; Owner: asset_user
--

CREATE INDEX idx_inventory_item_asset ON public.inventory_items USING btree (asset_id);


--
-- Name: idx_inventory_item_session; Type: INDEX; Schema: public; Owner: asset_user
--

CREATE INDEX idx_inventory_item_session ON public.inventory_items USING btree (session_id);


--
-- Name: idx_inventory_session_org; Type: INDEX; Schema: public; Owner: asset_user
--

CREATE INDEX idx_inventory_session_org ON public.inventory_sessions USING btree (organization_id);


--
-- Name: idx_inventory_session_status; Type: INDEX; Schema: public; Owner: asset_user
--

CREATE INDEX idx_inventory_session_status ON public.inventory_sessions USING btree (status);


--
-- Name: idx_inventory_session_unit; Type: INDEX; Schema: public; Owner: asset_user
--

CREATE INDEX idx_inventory_session_unit ON public.inventory_sessions USING btree (unit_id);


--
-- Name: idx_maintenance_asset; Type: INDEX; Schema: public; Owner: asset_user
--

CREATE INDEX idx_maintenance_asset ON public.maintenance_records USING btree (asset_id);


--
-- Name: idx_maintenance_org; Type: INDEX; Schema: public; Owner: asset_user
--

CREATE INDEX idx_maintenance_org ON public.maintenance_records USING btree (organization_id);


--
-- Name: idx_maintenance_status; Type: INDEX; Schema: public; Owner: asset_user
--

CREATE INDEX idx_maintenance_status ON public.maintenance_records USING btree (status);


--
-- Name: inventory_sessions fk10xefx40fb9ths30upadsd7b3; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.inventory_sessions
    ADD CONSTRAINT fk10xefx40fb9ths30upadsd7b3 FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: maintenance_records fk124fjg43i0s5luwopsoq78k9h; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.maintenance_records
    ADD CONSTRAINT fk124fjg43i0s5luwopsoq78k9h FOREIGN KEY (asset_id) REFERENCES public.assets(id);


--
-- Name: inventory_sessions fk3ymvgn6pb0pwqd9ho33n9pa5t; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.inventory_sessions
    ADD CONSTRAINT fk3ymvgn6pb0pwqd9ho33n9pa5t FOREIGN KEY (unit_id) REFERENCES public.units(id);


--
-- Name: transfer_requests fk4h44hvojk5yaqj12lkqd2g4r3; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.transfer_requests
    ADD CONSTRAINT fk4h44hvojk5yaqj12lkqd2g4r3 FOREIGN KEY (from_unit_id) REFERENCES public.units(id);


--
-- Name: transfer_requests fka8k9c199befjiccignbbup4oq; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.transfer_requests
    ADD CONSTRAINT fka8k9c199befjiccignbbup4oq FOREIGN KEY (requested_by) REFERENCES public.users(id);


--
-- Name: transfer_requests fkgmm8r1l1ru8jc9q8pkc4uvdy0; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.transfer_requests
    ADD CONSTRAINT fkgmm8r1l1ru8jc9q8pkc4uvdy0 FOREIGN KEY (to_unit_id) REFERENCES public.units(id);


--
-- Name: assets fkgqxc5up08htqakpryiaod3ujs; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.assets
    ADD CONSTRAINT fkgqxc5up08htqakpryiaod3ujs FOREIGN KEY (organization_id) REFERENCES public.organizations(id);


--
-- Name: transfer_requests fkh7lp26n09l4kppiodawcfqtn3; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.transfer_requests
    ADD CONSTRAINT fkh7lp26n09l4kppiodawcfqtn3 FOREIGN KEY (asset_id) REFERENCES public.assets(id);


--
-- Name: assets fkhw0fyx6bf4c907lgsksy86vix; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.assets
    ADD CONSTRAINT fkhw0fyx6bf4c907lgsksy86vix FOREIGN KEY (unit_id) REFERENCES public.units(id);


--
-- Name: assets fki37wgdksbwub2fd1g8orrh975; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.assets
    ADD CONSTRAINT fki37wgdksbwub2fd1g8orrh975 FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: units fkikrjcta3kxqs8scto8s6t4wv0; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.units
    ADD CONSTRAINT fkikrjcta3kxqs8scto8s6t4wv0 FOREIGN KEY (organization_id) REFERENCES public.organizations(id);


--
-- Name: inventory_items fkiqbpoogrouq26yw5fhqjx59jw; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.inventory_items
    ADD CONSTRAINT fkiqbpoogrouq26yw5fhqjx59jw FOREIGN KEY (session_id) REFERENCES public.inventory_sessions(id);


--
-- Name: inventory_items fkkg7jexwtdc1ndrh5rffkc2e39; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.inventory_items
    ADD CONSTRAINT fkkg7jexwtdc1ndrh5rffkc2e39 FOREIGN KEY (asset_id) REFERENCES public.assets(id);


--
-- Name: inventory_sessions fkmc3t60rxg9lpya5tlx6drg8ea; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.inventory_sessions
    ADD CONSTRAINT fkmc3t60rxg9lpya5tlx6drg8ea FOREIGN KEY (organization_id) REFERENCES public.organizations(id);


--
-- Name: user_activation_tokens fkn3ecsoid6jap5yyfk5llb2s06; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.user_activation_tokens
    ADD CONSTRAINT fkn3ecsoid6jap5yyfk5llb2s06 FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: users fkp2hfld4bhbwtakwrmt4xq6een; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT fkp2hfld4bhbwtakwrmt4xq6een FOREIGN KEY (unit_id) REFERENCES public.units(id);


--
-- Name: users fkqpugllwvyv37klq7ft9m8aqxk; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT fkqpugllwvyv37klq7ft9m8aqxk FOREIGN KEY (organization_id) REFERENCES public.organizations(id);


--
-- Name: transfer_requests fkr9lol8x40lsy5g7pgot27rc9i; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.transfer_requests
    ADD CONSTRAINT fkr9lol8x40lsy5g7pgot27rc9i FOREIGN KEY (approved_by) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict JSEhIRi9XD9V5MR1F2FdJp1dhe0X3UcMokerMQZKJg4dGTCNSJonPBjrU2bPtoW

